{% extends 'billapp/base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load crispy_forms_tags %}


<div class="formjumboclass" style="margin-bottom: 50px;">
<b><h3>Create New Bill</h3></b>
    <b>Fill the details carefully. Once bill is submitted only limited changes are allowed. </b>
    <br/>
    <br/>
    <form method="POST">
      <div class="formclass">
        {{form|crispy}}
        {% csrf_token%}
      </div>
      <center><input type="submit" name="btn btn-primary" class="btn btn-primary" id="submitbutton" value="Save New Bill"></center>
    </form>
</div>

{% endblock %}