{% extends 'billapp/base.html' %}
{% load staticfiles %}
{% block body_block %}

<div class="loginjumboclass">
  <p class="loginheading">Please Login</p>
  <form action="{% url 'user_login' %}" method="POST">
    {% csrf_token %}
    <br><br><br>
    <label class="input" for="username">Username:</label>
    <input class="inputbox" type="text" name="username" placeholder="Enter Username">
    <br><br>
    <label class="input" for="password">Password:</label>
    <input class="inputbox" type="password" name="password">
    <br><br><br><br>
    <input class="loginbutton" type="submit" name="" value="Login">
  </form>
</div>

{% endblock %}
