
label{
  font-family: 'Crimson Text', serif;
  margin-left: -20%;
  font-size: 20px;
  font-weight: lighter;
  width:200px;
}
input{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  /* background: inherit; */
  /* border: none;
  border-bottom: 1px solid #000000; */
  font-family: 'Open Sans Condensed', sans-serif;
}
.formjumboclass{
  padding-top: 60px;
}
#submitbutton{
  width: 20%;
  color: white;
  font-weight: bold;
  font-size: 26px;
  background-color: #F89C27;
  margin-bottom: 10px;
  margin-left: 10%;
}
